@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none !important;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  @apply text-main_text bg-white;
}
